<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="lnf">
            <section name="provider" type="LNF.ServiceProviderSection, LNF" />
        </sectionGroup>
    </configSections>

    <lnf>
        <provider production="false">
            <context loginUrl="/login" />
            <dataAccess showSql="true" universalPassword="xxxxx" />
            <email host="xxxxx" />
            <control host="xxxxx" />
            <log name="Reports.Tests" enabled="true" />
        </provider>
    </lnf>

    <connectionStrings>
        <add name="cnSselData" connectionString="xxxxx"/>
        <add name="cnProwatch" connectionString="xxxxx" />
    </connectionStrings>

    <appSettings>
        <add key="DebugEmail" value="xxxxx" />
        <add key="SecretKey" value="xxxxx" />
        <add key="TemplateDirectory" value="xxxxx" />
        <add key="MongoConnectionString" value="xxxxx"/>
        <add key="CurrentUserName" value="xxxxx" />
        <add key="CurrentRoles" value="xxxxx" />
        <add key="CurrentAppRoot" value="xxxxx" />
    </appSettings>
</configuration>