@{
    ViewBag.Title = "Resource Reports";
}

<h3>
    @Html.ActionLink("Reports", "Index", "Home")
    <span>/</span>
    <span>Resource</span>
</h3>

<hr />

<em style="text-muted">Comming soon...</em>
