@{
    ViewBag.Title = "Resource Reports";
}

<h3>
    @Html.ActionLink("Reports", "Index", "Home")
    <span>/</span>
    <span>Resource</span>
</h3>

<hr />

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            @Html.ActionLink("Durations", "Durations", null, new { @class = "list-group-item" })
            @Html.ActionLink("Reservation States", "ReservationStates", null, new { @class = "list-group-item" })
            @Html.ActionLink("Tool Usage Summary", "ToolUsageSummary", null, new { @class = "list-group-item" })
        </div>
    </div>
</div>